footer {
    bottom: 0;
    width: 100%;
    position: fixed;
}

ol > img {
    height: 300px;
    width: auto;
}

.title {
    padding: 10px;
}

.content {
    overflow-y: scroll;
    padding-bottom: 10vh;
}
.quit {
    list-style-type: square;
}

.quit:hover {
    background-color: rgba(71, 231, 71, 0.603);
}
